# Ignore Gradle project-specific cache directory
.gradle

# Ignore idea directory
.idea

# Ignore Gradle build output directory
build

# Ignore App.java for now
app/src/main/java/com/ikarabulut/App.java
